.header {
  h1, .score-title {
    text-align: center;
  }
  .score-field {
    margin-bottom: 10px;
    .score-wrap {
      .score-item {
        display: flex;
        justify-content: space-between;
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
}
.speed-info {
  font-size: 10px;
  text-align: center;
}
